.top-about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(40px, 2.7476149176px + 4.8568950564vw, 96px);
}
@media (min-width: 1920px) {
  .top-about__inner {
    gap: 5vw;
  }
}
.top-about__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
@media (min-width: 1920px) {
  .top-about__head {
    gap: 1.25vw;
  }
}
.top-about__content {
  display: grid;
  grid-template-columns: 24% 66.6666666667%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
.top-about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media (min-width: 1920px) {
  .top-about__info {
    gap: 2.0833333333vw;
  }
}
.top-about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.top-about__items .card-info {
  min-height: clamp(100px, -2.6421404682px + 10.0334448161vw, 190px);
}
@media (min-width: 1920px) {
  .top-about__items .card-info {
    min-height: 9.8958333333vw;
  }
}
@media (min-width: 767px) {
  .top-about__items .card-info:nth-child(odd) {
    padding-right: 24px;
    border-right: 1px solid var(--gray-color-120);
  }
}
@media (min-width: 767px) and (min-width: 1920px) {
  .top-about__items .card-info:nth-child(odd) {
    padding-right: 1.25vw;
  }
}
@media (min-width: 767px) {
  .top-about__items .card-info:nth-child(even) {
    padding-left: 24px;
  }
}
@media (min-width: 767px) and (min-width: 1920px) {
  .top-about__items .card-info:nth-child(even) {
    padding-left: 1.25vw;
  }
}
@media (max-width: 767px) {
  .top-about__items .card-info {
    min-height: 0;
  }
}
.top-about__items-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media (min-width: 767px) {
  .top-about__items-box:not(:last-child) .card-info {
    border-bottom: 1px solid var(--gray-color-120);
  }
}
@media (max-width: 1279px) {
  .top-about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 767px) {
  .top-about__items-box {
    gap: 4px;
  }
  .top-about__items {
    gap: 40px;
  }
}

.history__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.history-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(4px, -19.9479618387px + 3.1222896791vw, 40px);
  width: 100%;
  height: 100%;
}
.history-item__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.history-item__head:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--gray-color-500);
}
@media (min-width: 1920px) {
  .history-item__head {
    gap: 2.0833333333vw;
  }
}
.history-item__content {
  --paddind-left-history-item-content: clamp(40px, 34.6782307025px + 0.6938421509vw, 48px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: clamp(16px, 0.0346921075px + 2.0815264527vw, 40px);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: clamp(24px, 13.356461405px + 1.3876843018vw, 40px) clamp(20px, 17.3391153513px + 0.3469210755vw, 24px) clamp(24px, 13.356461405px + 1.3876843018vw, 40px) var(--paddind-left-history-item-content);
  position: relative;
}
.history-item__content:before {
  position: absolute;
  content: "";
  height: 100%;
  width: 1px;
  top: 0;
  bottom: 0;
  background-color: var(--gray-color-500);
  left: calc(var(--paddind-left-history-item-content) / 2);
}
@media (min-width: 1920px) {
  .history-item__content {
    --paddind-left-history-item-content: 2.0833333333vw;
    padding: 2.0833333333vw 1.25vw 2.0833333333vw var(--paddind-left-history-item-content);
  }
}
@media (min-width: 1920px) {
  .history-item {
    gap: 2.0833333333vw;
  }
}

.info {
  --gap-item: 24px;
  --padding-block-item: clamp(24px, 13.356461405px + 1.3876843018vw, 40px);
  --padding-inline-item: 24px;
}
.info__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.info__item {
  min-height: clamp(400px, 266.9557675629px + 17.3460537728vw, 600px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-block: var(--padding-block-item);
}
@media (min-width: 1023px) {
  .info__item:nth-child(odd) {
    -webkit-padding-end: var(--padding-inline-item);
            padding-inline-end: var(--padding-inline-item);
    border-right: 1px solid var(--gray-color-500);
  }
  .info__item:nth-child(even) {
    -webkit-padding-start: var(--padding-inline-item);
            padding-inline-start: var(--padding-inline-item);
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right;
  }
}
@media (min-width: 1920px) {
  .info__item {
    min-height: 31.25vw;
  }
}
.info__item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: var(--gap-item);
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 80%;
}
@media (min-width: 1920px) {
  .info {
    --gap-item: 1.25vw;
    --padding-block-item: 2.0833333333vw;
    --padding-inline-item: 1.25vw;
  }
}
@media (max-width: 1023px) {
  .info__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info__item-content {
    max-width: 100%;
  }
  .info__item {
    padding-inline: var(--container-inline-padding);
  }
  .info__item:not(:last-child) {
    border-bottom: 1px solid var(--gray-color-500);
  }
  .info .container {
    padding: 0;
  }
}