.allPages__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.allPages__develop {
  font-size: var(--font-size-base);
}
.allPages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6px;
}
.allPages__link {
  counter-increment: list;
  font-size: var(--font-size-base);
  font-weight: 800;
  line-height: line-height(16px, 16px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.allPages__item {
  width: 100%;
  height: 100%;
}
.allPages__sublist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  font-size: var(--font-size-base);
  font-weight: 400;
  text-transform: uppercase;
}
.allPages__review {
  font-size: var(--font-size-base);
  font-weight: 500;
}
.allPages__review a {
  font-weight: 800;
}