.catalogy {
  --gap-inner-catalog: 4px;
}
.catalogy__inner, .catalogy__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.catalogy__inner {
  gap: var(--gap-inner-catalog);
}
@media (min-width: 1920px) {
  .catalogy {
    --gap-inner-catalog: 0.2083333333vw;
  }
}

.filter {
  --gap-inner-filter: 4px;
  --grid-template-columns-filter: repeat(4, 1fr);
  display: grid;
  grid-template-columns: var(--grid-template-columns-filter);
  gap: var(--gap-inner-filter);
}
.filter__item {
  width: 100%;
}
.filter--three {
  --grid-template-columns-filter: repeat(3, 1fr);
}
.filter--column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0;
}