.contact-info {
  --contact-info-inner-gap: 10px;
  --contact-info-list-gap: 0;
  --contact-info-list-border-width: 1px;
  --contact-info-list-columns: 3;
  --contact-info-link-gap: 16px;
  --contact-info-link-padding: 24px;
  --contact-info-link-min-height: clamp(0px, -106.4353859497px + 13.8768430182vw, 160px);
  --contact-info-info-gap: 40px;
}
.contact-info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--contact-info-inner-gap);
}
.contact-info__list {
  border-top: var(--contact-info-list-border-width) solid var(--gray-color-500);
  border-bottom: var(--contact-info-list-border-width) solid var(--gray-color-500);
  display: grid;
  grid-template-columns: repeat(var(--contact-info-list-columns), 1fr);
  font-family: var(--font-second);
}
.contact-info__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--contact-info-link-gap);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: var(--contact-info-link-padding);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-height: var(--contact-info-link-min-height);
}
@media (min-width: 1279px) {
  .contact-info__link:not(:last-child) {
    border-right: var(--contact-info-list-border-width) solid var(--gray-color-500);
  }
}
.contact-info__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--contact-info-info-gap);
}
@media (min-width: 1920px) {
  .contact-info {
    --contact-info-inner-gap: 0.5208333333vw;
    --contact-info-list-border-width: 0.0520833333vw;
    --contact-info-link-gap: 0.8333333333vw;
    --contact-info-link-padding: 0.5208333333vw;
    --contact-info-link-min-height: 8.3333333333vw;
    --contact-info-info-gap: 2.0833333333vw;
  }
}
@media (max-width: 1279px) and (min-width: 767px) {
  .contact-info {
    --contact-info-list-columns: 2;
  }
  .contact-info__link:nth-child(n+3) {
    grid-column: 1/-1;
  }
  .contact-info__link:nth-child(even) {
    border-left: var(--contact-info-list-border-width) solid var(--gray-color-500);
  }
  .contact-info__link:not(:last-child) {
    border-bottom: var(--contact-info-list-border-width) solid var(--gray-color-500);
  }
}
@media (max-width: 767px) {
  .contact-info {
    --contact-info-list-columns: 1;
  }
  .contact-info__list {
    border: none;
  }
  .contact-info__link {
    border-bottom: var(--contact-info-list-border-width) solid var(--gray-color-500);
  }
  .contact-info__link:first-child {
    border-top: var(--contact-info-list-border-width) solid var(--gray-color-500);
  }
}

.map .topBox__header {
  max-width: 20%;
  text-align: center;
  margin: 0 auto;
}
.map__box {
  width: 100%;
  height: 60vh;
  background-color: var(--gray-color-500);
}
.map__box .map {
  width: 100%;
  height: 100%;
}
@media (max-width: 1023px) {
  .map .topBox__header {
    max-width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}