.detail {
  --inner-gap: 96px;
  --content-gap: 40px;
  --info-gap: 24px;
}
.detail__inner, .detail__content, .detail__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.detail__inner {
  gap: var(--inner-gap);
}
.detail__content {
  gap: var(--content-gap);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.detail__info {
  gap: var(--info-gap);
  max-width: 20%;
}
.detail__items {
  max-width: 66.6666666667%;
  width: 100%;
}
@media (min-width: 1920px) {
  .detail {
    --inner-gap: 5vw;
    --content-gap: 2.0833333333vw;
    --info-gap: 1.25vw;
  }
}

.offer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
@media (min-width: 1920px) {
  .offer__inner {
    gap: 2.0833333333vw;
  }
}
.offer__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px 5px;
}
@media (min-width: 1920px) {
  .offer__items {
    gap: 0.2083333333vw 0.2604166667vw;
  }
}
.offer__item--big {
  grid-row: span 2;
}