.top__inner {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.top__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.about__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
}
@media (min-width: 1920px) {
  .about__inner {
    gap: 1.0416666667vw;
  }
}
.about__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 120px;
  max-width: 66.6666666667%;
  width: 100%;
}
@media (min-width: 1920px) {
  .about__details {
    gap: 6.25vw;
  }
}
.about__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 4px;
}
@media (min-width: 1920px) {
  .about__items {
    gap: 0.2083333333vw;
  }
}
.about__content {
  display: grid;
  grid-template-columns: 30% 50%;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 1920px) {
  .about__content {
    gap: 1.0416666667vw;
  }
}
.about__info {
  padding-top: 80px;
}
@media (min-width: 1920px) {
  .about__info {
    padding-top: 4.1666666667vw;
  }
}