.notFound {
  --notfound-height: 100%;
  --notfound-content-gap: 60px;
  --notfound-content-max-width: calc(100% / 3);
  --notfound-info-gap: 0;
  --notfound-details-gap: 80px;
  --notfound-button-max-width: 57%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: var(--notfound-height);
  position: relative;
}
.notFound__inner {
  height: var(--notfound-height);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 3;
}
.notFound__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--notfound-content-gap);
  max-width: var(--notfound-content-max-width);
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.notFound__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--notfound-info-gap);
}
.notFound__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--notfound-details-gap);
}
.notFound__details .button {
  margin: 0 auto;
  max-width: var(--notfound-button-max-width);
  width: 100%;
}
.notFound__img-box {
  position: absolute;
  z-index: 2;
  inset: 0;
  top: calc((var(--page-padding-top)) * -1);
}
.notFound__img-box img,
.notFound__img-box svg {
  width: 100%;
  height: 100%;
}
@media (min-width: 1920px) {
  .notFound {
    --notfound-content-gap: 3.125vw;
    --notfound-content-max-width: calc(100% / 3);
    --notfound-details-gap: 4.1666666667vw;
  }
}