html {
  --dark-color-100: #000000;
  --dark-color-200: #12141a;
  --dark-color-275: #12141abf;
  --dark-color-300: #22262e;
  --dark-color-400: #0c0f14;
  --dark-color-500: #212329;
  --gray-color-100: #ffffff;
  --gray-color-115: #ffffff26;
  --gray-color-200: #f2f3f5;
  --gray-color-300: #b4b6bf;
  --gray-color-400: #989ba6;
  --gray-color-500: #454952;
  --primary-color-100: #ebc246;
  --secondary-color-100: #636899;
  --font-main: "TikTok", sans-serif;
  --font-second: "Manrope", sans-serif;
  --weight-font-main: 400;
  --weight-font-md: 500;
  --weight-font-lg: 600;
  --weight-font-xl: 700;
  --font-size-3xs: 12px;
  --font-size-2xs: 14px;
  --font-size-xs: clamp(12px, 8.4640883978px + 0.7366482505vw, 16px);
  --font-size-sm: clamp(16px, 14.2320441989px + 0.3683241252vw, 18px);
  --font-size-base: clamp(22px, 16.6961325967px + 1.1049723757vw, 28px);
  --font-size-md: clamp(24px, 13.3922651934px + 2.2099447514vw, 36px);
  --font-size-lg: clamp(28px, 10.320441989px + 3.6832412523vw, 48px);
  --font-size-xl: clamp(32px, 3.7127071823px + 5.8931860037vw, 64px);
  --font-size-2xl: clamp(40px, -9.5027624309px + 10.3130755064vw, 96px);
  --font-size-3xl: clamp(40px, -30.7182320442px + 14.7329650092vw, 120px);
  --line-height-tighter: 1;
  --line-height-tight: 1.1;
  --line-height-base: 1.2;
  --line-height-relaxed: 1.4;
  --line-height-loose: 1.5;
  --line-height-looser: 1.66;
  --line-height-loosest: 1.75;
  --radius-sm: 4px;
  --radius-base: 8px;
  --radius-md: 12px;
  --radius-lg: 14px;
  --radius-xl: 16px;
  --radius-2xl: 20px;
  --radius-3xl: 24px;
  --radius-4xl: 28px;
  --radius-5xl: 32px;
  --icon-xs: 12px;
  --icon-sm: 16px;
  --icon-base: 18px;
  --icon-md: 24px;
  --icon-lg: 28px;
  --container-inline-padding: clamp(16px, -7.8754863813px + 3.1128404669vw, 24px);
  --container-width: calc(1872px + calc(var(--container-inline-padding) * 2));
  --container-second-width: calc(
    1920px + calc(var(--container-inline-padding) * 2)
  );
  --calback-header-height: 90px;
  --gap-blocks: clamp(80px, 9.4117647059px + 14.7058823529vw, 160px);
  --page-padding-top: calc(
    var(--header-height, var(--calback-header-height)) + clamp(40px, 11.7127071823px + 5.8931860037vw, 72px)
  );
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  color: inherit;
}

input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "TikTok";
  src: url("../fonts/TikTokSans-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "TikTok";
  src: url("../fonts/TikTokSans-Bold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
}
.h1,
h1 {
  font-size: var(--font-size-3xl);
  line-height: var(--line-height-tighter);
  letter-spacing: -0.02em;
}

.h2,
h2 {
  font-size: var(--font-size-2xl);
  line-height: var(--line-height-tight);
  letter-spacing: -0.02em;
}

.h3,
h3 {
  font-size: var(--font-size-xl);
  line-height: var(--line-height-tight);
  letter-spacing: -0.02em;
}

.h4,
h4 {
  font-size: var(--font-size-lg);
  line-height: var(--line-height-tight);
}

.h5,
h5 {
  font-size: var(--font-size-md);
  line-height: var(--line-height-tight);
}

.h6,
h6 {
  font-size: var(--font-size-base);
  line-height: var(--line-height-tight);
}

.p1 {
  font-size: var(--font-size-sm);
}

.p2 {
  font-size: var(--font-size-xs);
}

.p3 {
  font-size: var(--font-size-2xs);
}

.lh1 {
  line-height: var(--line-height-tighter);
}

.regular-font {
  font-weight: var(--weight-font-main);
}

.medium-font {
  font-weight: var(--weight-font-md);
}

.semibold-font {
  font-weight: var(--weight-font-lg);
}

.bold-font {
  font-weight: var(--weight-font-xl);
}

.text-secondary-100 {
  color: var(--secondary-color-100);
}

.text-gray-100 {
  color: var(--gray-color-100);
}

.text-gray-200 {
  color: var(--gray-color-200);
}

.text-gray-300 {
  color: var(--gray-color-300);
}

.text-gray-400 {
  color: var(--gray-color-400);
}

.text-gray-500 {
  color: var(--gray-color-500);
}

.accent-color {
  color: var(--primary-color-100);
}

.text-center {
  text-align: center;
}

.text-underline {
  text-decoration: underline;
}

.text-uppercase {
  text-transform: uppercase;
}

.no-wrap {
  white-space: nowrap;
}

.manrope-font {
  font-family: var(--font-second);
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--dark-color-200);
  color: var(--gray-color-200);
  font-family: var(--font-main);
  font-weight: var(--weight-font-main);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-relaxed);
  overflow-x: hidden;
}
body.open-modal, body.open-menu {
  overflow: hidden;
}
body:before {
  content: "";
  position: absolute;
  inset: 0;
  top: 0;
  z-index: 100;
  background-color: var(--dark-color-275);
  backdrop-filter: blur(10px);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}
body.open-decor:before {
  opacity: 1;
  visibility: visible;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-top: var(--page-padding-top);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main section:not(:last-child) {
  margin-bottom: var(--gap-blocks);
}
.main section.section-padding-bottom {
  padding-bottom: var(--gap-blocks);
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding-inline: var(--container-inline-padding);
  width: 100%;
}
.container--big {
  padding: 0;
  max-width: var(--container-second-width);
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: var(--icon-base);
  height: var(--icon-base);
}
.icon svg,
.icon img {
  width: 100%;
  height: 100%;
}
.icon--xs {
  width: var(--icon-xs);
  height: var(--icon-xs);
}
.icon--sm {
  width: var(--icon-sm);
  height: var(--icon-sm);
}
.icon--md {
  width: var(--icon-md);
  height: var(--icon-md);
}
.icon--lg {
  width: var(--icon-lg);
  height: var(--icon-lg);
}

.textbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
}

.topBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}
.topBox--small {
  gap: 40px;
}
.topBox__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.topBox__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}
.topBox__content.with-line {
  position: relative;
}
.topBox__content.with-line:after {
  content: "";
  width: 1px;
  height: 140px;
  background-color: var(--gray-color-500);
}
.topBox__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.topBox__decors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.topBox__decors-title {
  text-indent: 624px;
}

@media (max-width: 1550px) {
  body .wrapper .xl-desktop-none {
    display: none;
  }
}
body .wrapper .xl-desktop-show {
  display: none;
}
@media (max-width: 1550px) {
  body .wrapper .xl-desktop-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 1439px) {
  body .wrapper .desktop-none {
    display: none;
  }
}
body .wrapper .desktop-show {
  display: none;
}
@media (max-width: 1439px) {
  body .wrapper .desktop-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 1279px) {
  body .wrapper .md-desktop-none {
    display: none;
  }
}
body .wrapper .md-desktop-show {
  display: none;
}
@media (max-width: 1279px) {
  body .wrapper .md-desktop-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 767px) {
  body .wrapper .tablet-none {
    display: none;
  }
}
body .wrapper .tablet-show {
  display: none;
}
@media (max-width: 767px) {
  body .wrapper .tablet-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
body .wrapper .lg-show {
  display: none;
}
@media (max-width: 1023px) {
  body .wrapper .lg-show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
@media (max-width: 1023px) {
  body .wrapper .lg-none {
    display: none;
  }
}
body .wrapper .br-el--rounded-sm {
  border-radius: var(--radius-sm);
}
body .wrapper .br-el--rounded-base {
  border-radius: var(--radius-base);
}
body .wrapper .br-el--rounded-md {
  border-radius: var(--radius-md);
}
body .wrapper .br-el--rounded-lg {
  border-radius: var(--radius-lg);
}
body .wrapper .br-el--rounded-xl {
  border-radius: var(--radius-xl);
}
body .wrapper .br-el--rounded-2xl {
  border-radius: var(--radius-2xl);
}
body .wrapper .br-el--rounded-3xl {
  border-radius: var(--radius-3xl);
}

.border-decor {
  --border-decor-width: 1px;
  --border-decor-color: var(--gray-color-115);
}
.border-decor--top {
  border-top: var(--border-decor-width) solid var(--border-decor-color);
}
.border-decor--bottom {
  border-bottom: var(--border-decor-width) solid var(--border-decor-color);
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.overlay {
  position: relative;
}
.overlay:before {
  content: "";
  position: absolute;
  z-index: 2;
  inset: 0;
  background-color: rgba(21, 23, 27, 0.5019607843);
}

.open--menu {
  overflow: hidden;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  z-index: 999;
  width: 100%;
  left: 0;
  right: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 24px 0;
  color: var(--gray-color-400);
}
.header.scrollBottom {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.header__info {
  --gap-info: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--gap-info);
}
.header__info > *:not(:last-child) {
  padding-right: var(--gap-info);
  border-right: 1px solid var(--gray-color-115);
}
.header__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

body.open-menu .header,
body.scrollTop:not(.scrollVisible) .header {
  background-color: var(--dark-color-400);
}

.logo__img {
  max-width: 200px;
  height: 40px;
}
.logo__img img,
.logo__img svg {
  width: 100%;
  height: 100%;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 16px;
  border-radius: 244px;
  min-height: 88px;
  padding: 16px 96px;
  background-color: var(--primary-color-100);
  font-weight: 600;
  color: var(--dark-color-300);
  -webkit-transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
}
.button.disabled {
  pointer-events: none;
  background-color: var(--dark-color-500);
  color: var(--gray-color-400);
}

.link {
  color: var(--gray-color-200);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.link:hover, .link.active {
  color: var(--primary-color-100);
}

.link-decor {
  --border-width: 1px;
  --paddint-top-item: 40px;
  padding: var(--paddint-top-item) 24px 40px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: var(--gray-color-300);
  border-bottom: var(--border-width) solid var(--gray-color-115);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.link-decor--big {
  --paddint-top-item: 80px;
}
.link-decor--border-no-cvet {
  border-color: transparent;
}
.link-decor__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.link-decor__line {
  width: 100%;
}
.link-decor:hover {
  --border-width: 24px;
  border-color: var(--primary-color-100);
  color: var(--primary-color-100);
  padding-top: calc(var(--paddint-top-item) - var(--border-width));
}

.links-decor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4px;
}

.card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.card-info__header, .card-info__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.card-item {
  position: relative;
  padding: 40px 24px;
  aspect-ratio: 4/5;
  max-height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 400px;
}
.card-item:hover .card-item__img img {
  scale: 1.1;
}
.card-item__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.card-item__inner-info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  position: relative;
  z-index: 3;
}
.card-item__links {
  position: relative;
  z-index: 5;
}
.card-item__header, .card-item__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.card-item__img {
  position: absolute;
  z-index: 1;
  inset: 0;
  overflow: hidden;
}
.card-item__img img,
.card-item__img svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.card-item__link-decor {
  position: absolute;
  z-index: 3;
  inset: 0;
}
.card-item__link-decor * {
  display: none;
}

.detail-bg {
  position: relative;
}
.detail-bg__img {
  position: absolute;
  z-index: 1;
  inset: 0;
  top: calc(var(--page-padding-top) * -1);
}
.detail-bg__img img,
.detail-bg__img svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.detail-bg > *:not(.detail-bg__img) {
  position: relative;
  z-index: 3;
}
.detail-bg:before {
  position: absolute;
  z-index: 2;
  inset: 0;
  top: calc(var(--page-padding-top) * -1);
  background-color: rgba(21, 23, 27, 0.5019607843);
}
.detail-bg:after {
  position: absolute;
  content: "";
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 240px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(18, 20, 26, 0)), to(#12141A));
  background-image: linear-gradient(180deg, rgba(18, 20, 26, 0) 0%, #12141A 100%);
}
.detail-bg--overlay:before {
  content: "";
}

.list-slash {
  --gap-items: 8px;
  --fz-line: var(--font-size-sm);
  --width-line: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: calc(var(--gap-items));
  color: var(--gray-color-200);
  font-size: var(--fz-line);
  font-family: var(--font-second);
}
.list-slash > *:not(:last-child) {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: calc(var(--gap-items) + var(--width-line));
}
.list-slash > *:not(:last-child):before {
  position: absolute;
  content: "/";
  color: var(--gray-color-400);
  font-size: 1em;
  right: 0;
  width: 1em;
  text-align: center;
}

.menu__burger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  background-color: transparent;
  color: var(--gray-color-300);
}
.menu__burger-box {
  width: 96px;
  height: 12px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu__burger-box:after, .menu__burger-box:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-image: -webkit-gradient(linear, left top, right top, from(#c0c4cc), to(#5e6166));
  background-image: linear-gradient(90deg, #c0c4cc 0%, #5e6166 100%);
  left: 0;
}
.menu__burger-box:after {
  top: 0;
  -webkit-transition: rotate 0.5s, top 0.5s 0.5s;
  transition: rotate 0.5s, top 0.5s 0.5s;
}
.menu__burger-box:before {
  bottom: 0;
  -webkit-transition: rotate 0.5s, bottom 0.5s 0.5s;
  transition: rotate 0.5s, bottom 0.5s 0.5s;
}
.menu__content {
  position: fixed;
  z-index: 999;
  left: 0;
  right: 0;
  top: calc(var(--header-height, var(--calback-header-height)));
  background-color: var(--dark-color-400);
  color: var(--gray-color-400);
  max-height: calc(100dvh - var(--header-height, var(--calback-header-height)));
  overflow-x: hidden;
  overflow-y: auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu__content-inner {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 96px var(--container-inline-padding) 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 80px;
}
.menu__content-inner > *:not(:first-child) {
  border-top: 1px solid var(--gray-color-500);
}
.menu__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.menu.open .menu__content {
  opacity: 1;
  visibility: visible;
}
.menu.open .menu__burger-text {
  display: none;
}
.menu.open .menu__burger-box {
  width: 24px;
  height: 24px;
}
.menu.open .menu__burger-box:after, .menu.open .menu__burger-box:before {
  background-image: none;
  background-color: var(--gray-color-300);
}
.menu.open .menu__burger-box:after {
  top: 50%;
  rotate: 45deg;
  -webkit-transition: top 0.5s, rotate 0.5s 0.5s;
  transition: top 0.5s, rotate 0.5s 0.5s;
}
.menu.open .menu__burger-box:before {
  bottom: 50%;
  rotate: -45deg;
  -webkit-transition: bottom 0.5s, rotate 0.5s 0.5s;
  transition: bottom 0.5s, rotate 0.5s 0.5s;
}

.menu-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.menu-top__lists {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.menu-top__list-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.menu-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}