.privacy {
  --privacy-list-gap: clamp(40px, 13.3911535126px + 3.4692107546vw, 80px);
  --privacy-list-item-gap: clamp(16px, 10.6782307025px + 0.6938421509vw, 24px);
}
.privacy__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--privacy-list-gap);
}
.privacy__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--privacy-list-item-gap);
}
@media (min-width: 1920px) {
  .privacy {
    --privacy-list-gap: 4.1666666667vw;
    --privacy-list-item-gap: 1.25vw;
  }
}