.rental {
  --rental-grid-column-main: 58%;
  --rental-grid-column-side: 35%;
  --rental-grid-gap: 20px;
  --rental-info-gap: 80px;
  --rental-list-gap: 80px;
  --rental-item-gap: 40px;
  --rental-item-head-gap: 20px;
  --rental-item-head-padding-left: 24px;
  --rental-item-title-gap: 16px;
  --rental-banners-gap: 32px;
  --rental-banners-sticky-top: 10px;
  --rental-banners-sticky-top-scroll: calc(var(--header-height, 80px) + 10px);
}
.rental__inner {
  display: grid;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-template-columns: var(--rental-grid-column-main) var(--rental-grid-column-side);
  gap: var(--rental-grid-gap);
}
.rental__info, .rental__list, .rental__item, .rental__item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.rental__info {
  gap: var(--rental-info-gap);
}
.rental__list {
  gap: var(--rental-list-gap);
}
.rental__item {
  gap: var(--rental-item-gap);
}
.rental__item-head {
  gap: var(--rental-item-head-gap);
  padding-left: var(--rental-item-head-padding-left);
}
.rental__item-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--rental-item-title-gap);
}
.rental__banners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--rental-banners-gap);
}
.rental__banners-sticky {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (min-height: 700px) {
  .rental__banners-sticky {
    position: sticky;
    top: var(--rental-banners-sticky-top);
  }
}
@media (min-width: 1920px) {
  .rental {
    --rental-grid-gap: 1.0416666667vw;
    --rental-info-gap: 4.1666666667vw;
    --rental-list-gap: 4.1666666667vw;
    --rental-item-gap: 2.0833333333vw;
    --rental-item-head-gap: 1.0416666667vw;
    --rental-item-head-padding-left: 1.25vw;
    --rental-item-title-gap: 0.8333333333vw;
    --rental-banners-gap: 1.6666666667vw;
    --rental-banners-sticky-top: 0.5208333333vw;
    --rental-banners-sticky-top-scroll: calc(
      var(--header-height, 4.1666666667vw) + 0.5208333333vw
    );
  }
}

body.scrollTop .rental__banners-sticky {
  top: var(--rental-banners-sticky-top-scroll);
}

.banner-good {
  --banner-content-padding-x: 24px;
  --banner-content-padding-y: 40px;
  --banner-item-padding-y: 40px;
  --banner-head-gap: 24px;
  --banner-head-item-gap: 24px;
  --banner-head-item-separator-width: 30px;
  --banner-head-item-separator-height: 81px;
  --banner-head-item-content-gap: 16px;
  --banner-border-width: 1px;
  background-color: var(--dark-color-400);
}
.banner-good__content {
  padding: var(--banner-content-padding-y) var(--banner-content-padding-x);
}
.banner-good__item {
  padding: var(--banner-item-padding-y) 0;
}
.banner-good__item:first-child {
  padding-top: 0;
}
.banner-good__item:last-child {
  padding-bottom: 0;
}
.banner-good__item:not(:last-child) {
  border-bottom: var(--banner-border-width) solid var(--gray-color-500);
}
.banner-good__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: var(--banner-head-gap);
}
.banner-good__head-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--banner-head-item-gap);
}
.banner-good__head-item:not(:last-child):after {
  content: "";
  width: var(--banner-head-item-separator-width);
  height: var(--banner-head-item-separator-height);
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='81' viewBox='0 0 26 81' fill='none'%3E%3Cpath d='M0.429688 0.257263L24.4297 40.2573L0.429688 80.2573' stroke='%23EBC246'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
}
.banner-good__head-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: var(--banner-head-item-content-gap);
}
@media (min-width: 1920px) {
  .banner-good {
    --banner-content-padding-x: 1.25vw;
    --banner-content-padding-y: 2.0833333333vw;
    --banner-item-padding-y: 2.0833333333vw;
    --banner-head-gap: 1.25vw;
    --banner-head-item-gap: 1.25vw;
    --banner-head-item-separator-width: 1.5625vw;
    --banner-head-item-separator-height: 4.21875vw;
    --banner-head-item-content-gap: 0.8333333333vw;
    --banner-border-width: 0.0520833333vw;
  }
}