@import "base/_helpers.scss";
@import "base/_vars.scss";
@import "base/_reset.scss";
@import "base/_fonts.scss";
@import "base/_text.scss";
@import "base/_global.scss";
@import "base/_utilis.scss";

@import "blocks/_header.scss";
@import "blocks/_logo.scss";
@import "blocks/_buttons.scss";
@import "blocks/_links.scss";
@import "blocks/_cards.scss";
@import "blocks/_detail-bg.scss";
@import "blocks/_list-slash.scss";
@import "blocks/_menu.scss";
@import "blocks/_footer.scss";
