.about {
  &__inner {
    display: flex;
    justify-content: flex-end;
    gap: 20px;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(20)};
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: calculate-clamp(60px, 120px, $xl-desktop-breakpoint, $tablet-breakpoint);
    max-width: calc(100% * 2 / 3);
    width: 100%;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(120)};
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calculate-clamp(160px, 250px, $xl-desktop-breakpoint, $tablet-breakpoint), 1fr));
    gap: 40px 4px;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(4)};
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 30% 50%;
    gap: 20px;
    align-items: center;
    justify-content: space-between;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(20)};
    }
  }

  &__info {
    padding-top: calculate-clamp(40px, 80px, $xl-desktop-breakpoint, $tablet-breakpoint);

    @media (min-width: $xl-desktop-breakpoint) {
      padding-top: #{vw(80)};
    }
  }

  @media (max-width: $desktop-breakpoint) {
    &__details {
      max-width: 100%;
    }
  }

  @media (max-width: $lg-breakpoint) {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: normal;
      gap: 40px;
    }
  }
}
