.allPages {
  &__inner {
    display: flex;
    flex-direction: column;
    // align-items: flex-start;
    gap: 10px;
  }

  &__develop {
    font-size: var(--font-size-base);
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__link {
    counter-increment: list;
    font-size: var(--font-size-base);
    font-weight: 800;
    line-height: line-height(16px, 16px);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__item {
    width: 100%;
    height: 100%;
  }

  &__sublist {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: var(--font-size-base);
    font-weight: 400;
    text-transform: uppercase;
  }

  &__review {
    font-size: var(--font-size-base);
    font-weight: 500;

    a {
        font-weight: 800;   
    }
  }
}
