.arrows-swiper {
  display: flex;
  align-items: center;
  gap: 8px;

  .arrow-swiper {
    &.next {
      .icon {
        rotate: -180deg;
      }
    }

    &.swiper-button-disabled {
      pointer-events: none;
      opacity: 0.4;
    }
  }

  &:has(.arrow-swiper.prev.swiper-button-disabled):has(
      .arrow-swiper.next.swiper-button-disabled
    ) {
    display: none;
  }

  @media (max-width: $lg-breakpoint) {
    display: none;
  }
}
