.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 244px;
  min-height: 88px;
  padding: 16px 96px;
  background-color: var(--primary-color-100);
  font-weight: 600;
  color: var(--dark-color-300);
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
  cursor: pointer;

  &.disabled {
    pointer-events: none;
    background-color: var(--dark-color-500);
    color: var(--gray-color-400);
  }
}
