.button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 244px;
  min-height: 88px;
  padding: 16px 40px;
  background-color: var(--primary-color-100);
  font-weight: 600;
  color: var(--dark-color-300);
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease;
  cursor: pointer;

  &:hover {
    background-color: var(--primary-color-200);
  }

  &--noBg {
    background-color: transparent;
    color: var(--gray-color-300);
    padding-inline: 75px;

    &:hover {
      color: var(--dark-color-200);
    }
  }

  &--border {
    border: 1px solid var(--gray-color-200);

    &-gray-500 {
      border-color: var(--gray-color-500);
    }
  }

  &.disabled {
    pointer-events: none;
    background-color: var(--dark-color-500);
    color: var(--gray-color-400);
  }

  @media (min-width: $xl-desktop-breakpoint) {
    border-radius: #{vw(30)};
    min-height: #{vw(60)};
    padding-block: #{vw(16)};
    padding-inline: #{vw(40)};
  }
}
