.card-box {
  padding: 40px 24px;

  @media (min-width: $xl-desktop-breakpoint) {
    padding: #{vw(40)} #{vw(24)};
  }
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &--row {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__header,
  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(10)};
    }
  }

  @media (min-width: $xl-desktop-breakpoint) {
    gap: #{vw(24)};
  }
}

.card-item {
  position: relative;
  aspect-ratio: 4 / 5;
  // max-height:  1000px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 400px;

  &:has(.card-item__link-decor) {
    &:hover {
      .card-item {
        &__img {
          img {
            scale: 1.1;
          }
        }
      }
    }
  }

  &--end {
    .card-item {
      &__inner-info {
        justify-content: flex-end;
      }
    }
   
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(24)};
    }
  }

  &__inner-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    z-index: 3;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(10)};
    }
  }

  &__links {
    position: relative;
    z-index: 5;
  }

  &__header,
  &__footer {
    display: flex;
    flex-direction: column;
  }

  &__footer {
    gap: 24px;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(24)};
    }
  }

  &__header {
    gap: 8px;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(8)};
    }
  }

  &__img {
    position: absolute;
    z-index: 1;
    inset: 0;
    overflow: hidden;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
  }

  &__link-decor {
    position: absolute;
    z-index: 3;
    inset: 0;

    * {
      display: none;
    }
  }

  
}

.card-detail {
  aspect-ratio: 77 / 100;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  overflow: hidden;

  &--full {
    aspect-ratio: 27 / 10;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 34px;
    position: relative;
    z-index: 2;
    flex: 1;

    &--end {
      justify-content: flex-end;
    }

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(34)};
    }
  }

  &__header,
  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(24)};
    }
  }

  &__img {
    position: absolute;
    z-index: 1;
    inset: 0;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
