.card-info {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__header,
  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

.card-item {
  position: relative;
  padding: 40px 24px;
  aspect-ratio: 4 / 5;
  max-height:  1000px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 400px;

  &:hover {
    .card-item {
      &__img {
        img {
          scale: 1.1;
        }
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex:1;
  }

  &__inner-info {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    z-index: 3;
  }

  &__links {
    position: relative;
    z-index: 5;
  }

  &__header,
  &__footer {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__img {
    position: absolute;
    z-index: 1;
    inset:0;
    overflow: hidden;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all .3s;
    }
  }

  &__link-decor {
    position: absolute;
    z-index: 3;
    inset:0;

    * {
      display: none;
    }
  }
}
