.card-box {
  --padding-block: 40px;
  --padding-inline: 24px;
  --padding-head-inline: 24px;

  padding: var(--padding-block) var(--padding-inline);

  

  &__head {
    padding-inline: var(--padding-head-inline);
  }

  

  @media (min-width: $xl-desktop-breakpoint) {
    --padding-block: #{vw(40)};
    --padding-inline: #{vw(24)};
    --padding-head-inline: #{vw(24)};
  }

  &--no-padding-inline {
    --padding-inline: 0;

    @media (min-width: $xl-desktop-breakpoint) {
      --padding-inline: 0;
    }
  }
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &--row {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__header,
  &__info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(10)};
    }
  }

  @media (min-width: $xl-desktop-breakpoint) {
    gap: #{vw(24)};
  }
}

.card-item {
  position: relative;
  aspect-ratio: 4 / 5;
  // max-height:  1000px;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 400px;
  height: 100%;

  &--cub {
    aspect-ratio: 107 / 100;
  }

  &--auto {
    aspect-ratio: unset;
    min-height: 580px;

    @media (min-width: $xl-desktop-breakpoint) {
      min-height: #{vw(580)};
    }
  }

  &--full {
    aspect-ratio: unset;
    min-height: 0;
  }

  &--noBg {
    border: 1px solid var(--gray-color-500);
  }

  &--noPaddigBottom {
    padding-bottom: 0;
  }

  &:has(.card-item__link-decor) {
    &:hover {
      .card-item {
        &__img {
          img {
            scale: 1.1;
          }
        }
      }
    }
  }

  &--end {
    .card-item {
      &__inner-info {
        justify-content: flex-end;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(24)};
    }
  }

  &__inner-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    z-index: 3;

    &--center {
     align-items: center;
     text-align: center;
     margin: 0 auto;
    }

    &--max-width {
      max-width: 400px;
    }

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(10)};

      &--max-width {
        max-width: #{vw(400)};
      }
    }
  }

  &__links {
    position: relative;
    z-index: 5;
  }

  &__header,
  &__footer {
    display: flex;
    flex-direction: column;
  }

  &__footer {
    gap: 24px;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(24)};
    }
  }

  &__header {
    gap: 8px;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(8)};
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(16)};
    }
  }

  &__img {
    position: absolute;
    z-index: 1;
    inset: 0;
    overflow: hidden;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
    }
  }

  &__img-decor {
    width: 100%;
    height: auto;
    max-height: 400px;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__link-decor {
    position: absolute;
    z-index: 3;
    inset: 0;

    * {
      display: none;
    }
  }
}

.card-detail {
  aspect-ratio: 77 / 100;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  overflow: hidden;

  &--row {
    .card-detail {
      &__info {
        max-width: 50%;
      }

      &__inner {
        flex-direction: row;
      }
    }
  }

  &--full {
    aspect-ratio: unset;
    width: 100%;
    min-height: 480px;

    @media (min-width: $xl-desktop-breakpoint) {
      min-height: #{vw(480)};
    }
  }

  &--auto {
    aspect-ratio: unset;
    min-height: 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 34px;
    position: relative;
    z-index: 2;
    flex: 1;

    &--end {
      justify-content: flex-end;
    }

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(34)};
    }
  }

  &__header,
  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(24)};
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 46px;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(46)};
    }
  }

  &__img {
    position: absolute;
    z-index: 1;
    inset: 0;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.card-icon {
  background-color: var(--dark-color-400);
  display: flex;
  align-items: flex-start;
  gap: 40px;


  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(16)};
    }
  }

  @media (min-width: $xl-desktop-breakpoint) {
    gap: #{vw(40)};
  }
}

.card-text {
  padding-bottom: 0;
  background-color: var(--primary-color-100);

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2px;
    color: var(--dark-color-300);
  }
}
