.contact-info {
  --contact-info-inner-gap: 10px;
  --contact-info-list-gap: 0;
  --contact-info-list-border-width: 1px;
  --contact-info-list-columns: 3;
  --contact-info-link-gap: 16px;
  --contact-info-link-padding: 24px;
  --contact-info-link-min-height: #{calculate-clamp(
      0px,
      160px,
      $xl-desktop-breakpoint,
      $tablet-breakpoint
    )};
  --contact-info-info-gap: 40px;

  &__inner {
    display: flex;
    flex-direction: column;
    gap: var(--contact-info-inner-gap);
  }

  &__list {
    border-top: var(--contact-info-list-border-width) solid
      var(--gray-color-500);
    border-bottom: var(--contact-info-list-border-width) solid
      var(--gray-color-500);
    display: grid;
    grid-template-columns: repeat(var(--contact-info-list-columns), 1fr);
    font-family: var(--font-second);
  }

  &__link {
    display: flex;
    flex-direction: column;
    gap: var(--contact-info-link-gap);
    align-items: center;
    padding: var(--contact-info-link-padding);
    justify-content: center;
    text-align: center;
    min-height: var(--contact-info-link-min-height);

    @media (min-width: $md-desktop-breakpoint) {
      &:not(:last-child) {
        border-right: var(--contact-info-list-border-width) solid
          var(--gray-color-500);
      }
    }
  }

  &__info {
    display: flex;
    align-items: center;
    gap: var(--contact-info-info-gap);
  }

  @media (min-width: $xl-desktop-breakpoint) {
    --contact-info-inner-gap: #{vw(10)};
    --contact-info-list-border-width: #{vw(1)};
    --contact-info-link-gap: #{vw(16)};
    --contact-info-link-padding: #{vw(10)};
    --contact-info-link-min-height: #{vw(160)};
    --contact-info-info-gap: #{vw(40)};
  }

  @media (max-width: $md-desktop-breakpoint) and (min-width: $tablet-breakpoint) {
    --contact-info-list-columns: 2;

    &__link {
      &:nth-child(n + 3) {
        grid-column: 1 / -1;
      }

      &:nth-child(even) {
        border-left: var(--contact-info-list-border-width) solid
          var(--gray-color-500);
      }

      &:not(:last-child) {
        border-bottom: var(--contact-info-list-border-width) solid
          var(--gray-color-500);
      }
    }
  }

  @media (max-width: $tablet-breakpoint) {
    --contact-info-list-columns: 1;

    &__list {
      border: none;
    }

    &__link {
      border-bottom: var(--contact-info-list-border-width) solid
        var(--gray-color-500);

      &:first-child {
        border-top: var(--contact-info-list-border-width) solid
          var(--gray-color-500);
      }
    }
  }
}
