.contact {
  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }

  &__info,
  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__info {
    padding-top: 40px;
  }
}
