.cookies {
  --padding-cookies: 40px 24px;
  --gap-box-cookies: 24px;
  --proccent-content-cookies: 70%;

  background-color: var(--dark-color-400);
  padding: var(--padding-cookies);

  max-width: 80%;
  margin: 0 auto;
  display: none;

  &.active {
    display: flex;
  }

  &__box {
    display: grid;
    grid-template-columns: var(--proccent-content-cookies) calc(
        100% - var(--proccent-content-cookies) - var(--gap-box-cookies)
      );
    gap: var(--gap-box-cookies);
    align-items: center;
    justify-content: space-between;
  }

  &__footer {
    width: 100%;
  }

  &__btns {
    display: flex;
    flex-direction: column;
    width: 100%;

    .button {
      width: 100%;
    }
  }

  @media (min-width: $xl-desktop-breakpoint) {
    --padding-cookies: #{vw(40)} #{vw(24)};
    --gap-box-cookies: #{vw(24)};
  }
}
