.detail-bg {
  position: relative;

  &__img {
    position: absolute;
    z-index: 1;
    inset: 0;
    top: calc(var(--page-padding-top) * -1);

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & > *:not(.detail-bg__img) {
    position: relative;
    z-index: 3;
  }

  &:before {
    position: absolute;
    z-index: 2;
    inset: 0;
    top: calc(var(--page-padding-top) * -1);
    background-color: #15171b80;
  }

  &:after {
    position: absolute;
    content: "";
    z-index: 2;
    bottom: 0;
    width: 100%;
    height: 240px;
    background-image: linear-gradient(
      180deg,
      rgba(18, 20, 26, 0) 0%,
      #12141a 100%
    );

    @media (min-width: $xl-desktop-breakpoint) {
      height: #{vw(240)};
    }
  }

  &--decor-top {
    &:after {
      inset: 0;
      background-image: linear-gradient(
        180deg,
        #12141a 0%,
        rgba(18, 20, 26, 0) 100%
      );
      height: auto;
    }
  }

  &--middle {
    .detail-bg {
      &__img {
        top: var(--gap-blocks);
      }
    }

    &:after {
      top: var(--gap-blocks);
    }
  }

  &--overlay {
    &:before {
      content: "";
    }
  }

  &--about {
    .detail-bg {
      &__img {
        // bottom: calc(var(--gap-blocks) * 2 + 200px);
        bottom: calc(var(--gap-blocks));
      }
    }

    &:after,
    &:before {
      // bottom: calc(var(--gap-blocks) * 2 + 200px);
      bottom: calc(var(--gap-blocks));
    }
  }
}
