.detail {
  --inner-gap: #{calculate-clamp(
    40px,
    96px,
    $xl-desktop-breakpoint,
    $tablet-breakpoint
  )};
  --content-gap: 40px;
  --info-gap: 24px;

  &__inner,
  &__content,
  &__info {
    display: flex;
    flex-direction: column;
  }

  &__inner {
    gap: var(--inner-gap);
  }

  &__content {
    gap: var(--content-gap);
    flex-direction: row;
    justify-content: space-between;
  }

  &__info {
    gap: var(--info-gap);
    max-width: 20%;
  }

  &__items {
    max-width: calc(100% * 2 / 3);
    width: 100%;
  }

  @media (min-width: $xl-desktop-breakpoint) {
    --inner-gap: #{vw(96)};
    --content-gap: #{vw(40)};
    --info-gap: #{vw(24)};
  }

  @media (max-width: $md-desktop-breakpoint) {
    &__content {
      display: flex;
      flex-direction: column;
    }

    &__items,
    &__info {
      max-width: 100%;
    }
  }
}
