.detail-bg {
  position: relative;

  &__img {
    position: absolute;
    z-index: 1;
    inset: 0;
    top: calc(var(--page-padding-top) * -1);

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  & > *:not(.detail-bg__img) {
    position: relative;
    z-index: 3;
  }

  &:before {
    position: absolute;
    z-index: 2;
    inset: 0;
    top: calc(var(--page-padding-top) * -1);
    background-color: #15171b80;
  }

  &:after {
    position: absolute;
    content:"";
    z-index: 2;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 240px;
    background-image: linear-gradient(180deg, rgba(18, 20, 26, 0) 0%, #12141A 100%);

  }

  &--overlay {
    &:before {
      content: "";
    }
  }
}
