.features {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 64px;
  }

  &__item {
    &:nth-child(4n + 2) {
      padding-top: 160px;
    }

    &:nth-child(4n + 3) {
      padding-top: 40px;
    }

    &:nth-child(4n + 4) {
      padding-top: 100px;
    }
  }
}
