.features {
  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(24)};
    }
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 64px;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(64)};
    }
  }

  &__item {
    &:nth-child(4n + 2) {
      padding-top: 160px;

      @media (min-width: $xl-desktop-breakpoint) {
        padding-top: #{vw(160)};
      }
    }

    &:nth-child(4n + 3) {
      padding-top: 40px;

      @media (min-width: $xl-desktop-breakpoint) {
        padding-top: #{vw(40)};
      }
    }

    &:nth-child(4n + 4) {
      padding-top: 100px;

      @media (min-width: $xl-desktop-breakpoint) {
        padding-top: #{vw(100)};
      }
    }
  }
}
