.filter {
  --gap-inner-filter: 4px;
  --grid-template-columns-filter: repeat(4, 1fr);

  display: grid;
  grid-template-columns: var(--grid-template-columns-filter);
  gap: var(--gap-inner-filter);

  &__item {
    width: 100%;
  }

  &--three {
    --grid-template-columns-filter: repeat(3, 1fr);
  }

  &--column {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}
