.form {
  --padding-item: 40px 24px;
  --border-color: var(--gray-color-500);

  display: flex;
  flex-direction: column;

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item-box {
    display: grid;
    border-bottom: 1px solid var(--border-color);

    &--two {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item-block {
    padding: var(--padding-item);

    &:not(:last-child) {
      border-right: 1px solid var(--border-color);
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    padding: var(--padding-item);
  }
}

.contact-form {
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}
