.form {
  --padding-item: 40px 24px;
  --border-color: var(--gray-color-500);
  --checks-items: 24px;
  --info-form: 24px;

  display: flex;
  flex-direction: column;
  height: 100%;

  &__items {
    display: flex;
    flex-direction: column;
  }

  &__item-box {
    display: grid;
    border-bottom: 1px solid var(--border-color);

    &--two {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__item-block {
    padding: var(--padding-item);

    &:not(:last-child) {
      border-right: 1px solid var(--border-color);
    }

    &:has(.dropdown) {
      padding: 0;
    }
  }

  &__footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 48px;
    padding: var(--padding-item);
    align-items: center;
    margin-top: auto;

    &--small {
      gap: 24px;
    }

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(48)};

      &--small {
        gap: #{vw(24)};
      }
    }

    &--column {
      display: flex;
      flex-direction: column;
      align-items: normal;
      gap: 24px;

      @media (min-width: $xl-desktop-breakpoint) {
        gap: #{vw(24)};
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: var(--info-form);
  }

  &__checks {
    display: flex;
    flex-direction: column;
    gap: var(--checks-items);
  }

  &__item {
    &.error {
      .form {
        &__errors {
          display: flex;
        }
      }
    }
  }

  &__box {
    padding: var(--padding-item);
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
  }

  @media (min-width: $xl-desktop-breakpoint) {
    --padding-item: #{vw(40)} #{vw(24)};
    --checks-items: #{vw(24)};
    --info-form: #{vw(24)};
  }
}

.contact-form {
  border-left: 1px solid var(--border-color);
  // border-right: 1px solid var(--border-color);
}
