.good-item {
  --padding-block-good-item: #{calculate-clamp(24px, 40px, $xl-desktop-breakpoint, $tablet-breakpoint)};
  --padding-inline: #{calculate-clamp(16px, 24px, $xl-desktop-breakpoint, $tablet-breakpoint)};

  aspect-ratio: 15 / 10;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: calculate-clamp(220px, 300px, $tablet-breakpoint, $mobile-breakpoint);
  padding: var(--padding-block-good-item) 0 0 0;
  color: var(--gray-color-200);

  @media (min-width: $md-desktop-breakpoint) {
    aspect-ratio: 8 / 5;
  }

  &:hover {
    .link-decor {
      --border-color: var(--primary-color-100);
      
      @include hover-link-decor;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    z-index: 3;
    flex: 1;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(20)};
    } 
  }

  &__head {
    padding-inline: var(--padding-inline);
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;

    @media (min-width: $xl-desktop-breakpoint) {
      // padding-inline: #{vw(24)};
      // gap: #{vw(24)};
    } 
  }

  &__header,
  &__content,
  &__footer {
    display: flex;
    align-items: center;
    gap: 24px;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(24)};
    } 
  }

  &__content {
    margin: auto 0;
  }

  &__footer {
    width: 100%;

    .link-decor {
      width: 100%;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: calculate-clamp(16px, 40px, $xl-desktop-breakpoint, $tablet-breakpoint);

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(40)};
    } 
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calculate-clamp(4px, 8px, $xl-desktop-breakpoint, $tablet-breakpoint);

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(8)};
    } 
  }

  &__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    span {
      color: var(--gray-color-300);
    }
  }

  &__img {
    position: absolute;
    z-index: 1;
    inset: 0;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (min-width: $xl-desktop-breakpoint) {
    // padding: #{vw(40)} 0 0 0;
  } 

  @media (max-width: $lg-breakpoint) {
    padding: var(--padding-block-good-item) var(--padding-inline);
    aspect-ratio:unset;

    &__footer {
      display: none;
    }

    &__content {
      margin: 0;
      align-items: flex-end;
      justify-content: space-between;

      .icon {
        color: var(--gray-color-300);
      }
    }

    &__head {
      padding: 0;
      justify-content: space-between;
    }
  }
}
