.good-mini {
  --padding-box-good-mini: 24px;
  --gap-box-good-mini: 24px;
  --gap-items-good-mini: 40px;
  --gap-item-good-mini: 8px;

  position: relative;
  padding: var(--padding-box-good-mini);
  overflow: hidden;
  color: var(--gray-color-400);

  &__inner {
    display: flex;
    flex-direction: column;
    gap: var(--gap-box-good-mini);
    position: relative;
    z-index: 2;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &__info,
  &__content,
  &__item {
    display: flex;
    flex-direction: column;
  }

  &__content {
    font-family: var(--font-second);
    flex-direction: row;
    justify-content: space-between;
  }

  &__item {
    gap: var(--gap-item-good-mini);
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--gap-items-good-mini);
  }

  &__title {
    display: flex;
    flex-direction: column;
  }

  &__img-box {
    position: absolute;
    inset: 0;
    z-index: 1;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  @media (min-width: $xl-desktop-breakpoint) {
    --padding-box-good-mini: #{vw(24)};
    --gap-box-good-mini: #{vw(24)};
    --gap-items-good-mini: #{vw(40)};
    --gap-item-good-mini: #{vw(8)};
  }
}
