.good-item {
  aspect-ratio: 8 / 5;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 300px;
  padding: 40px 0 0 0;

  &:hover {
    .link-decor {
      @include hover-link-decor;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    z-index: 3;
    flex: 1;
  }

  &__head {
    padding-inline: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;
  }

  &__header,
  &__content,
  &__footer {
    display: flex;
    align-items: center;
    gap: 24px;
  }

  &__content {
    margin: auto 0;
  }

  &__footer {
    width: 100%;

    .link-decor {
      width: 100%;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__title {
    display: flex;
    flex-direction: column;

    span {
      color: var(--gray-color-300);
    }
  }

  &__img {
    position: absolute;
    z-index: 1;
    inset: 0;

    img,
    svg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
