.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 999;
  width: 100%;
  left: 0;
  right: 0;
  transition: all 0.5s;
  padding: calculate-clamp(20px, 24px, $xl-desktop-breakpoint, $lg-breakpoint) 0;
  color: var(--gray-color-400);

  &.scrollBottom {
    transform: translateY(-100%);
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(20)};
    }
  }

  &__info {
    --gap-info: 24px;

    display: flex;
    align-items: center;
    gap: var(--gap-info);

    @media (min-width: $tablet-breakpoint) {
      & > *:not(:last-child) {
        padding-right: var(--gap-info);
        border-right: 1px solid var(--gray-color-115);
      }
    }

    @media (min-width: $xl-desktop-breakpoint) {
      --gap-info: #{vw(24)};
    }
  }

  &__details {
    display: flex;
    align-items: center;
    gap: calculate-clamp(40px, 100px, $xl-desktop-breakpoint, $lg-breakpoint);

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(100)};
    }
  }

  .dropdown-lang {
    display: none;
  }

  @media (min-width: $xl-desktop-breakpoint) {
    padding: #{vw(24)} 0;
  }
}

body.open-menu {
  .header {
    .dropdown-lang {
      display: flex;
    }
  }
}

body.open-menu,
body.scrollTop:not(.scrollVisible) {
  .header {
    background-color: var(--dark-color-400);
  }
}
