.history-item {
  display: flex;
  flex-direction: column;
  gap: calculate-clamp(4px, 40px, $xl-desktop-breakpoint, $tablet-breakpoint);
  width: 100%;
  height: 100%;

  &__head {
    display: flex;
    align-items: center;
    gap: 40px;

    &:after {
      content: "";
      width: 100%;
      height: 1px;
      background-color: var(--gray-color-500);
    }

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(40)};
    }
  }

  &__content {
    --paddind-left-history-item-content: #{calculate-clamp(40px, 48px, $xl-desktop-breakpoint, $tablet-breakpoint)};

    display: flex;
    flex-direction: column;
    gap: calculate-clamp(16px, 40px, $xl-desktop-breakpoint, $tablet-breakpoint);
    flex: 1;
    padding: calculate-clamp(24px, 40px, $xl-desktop-breakpoint, $tablet-breakpoint) calculate-clamp(20px, 24px, $xl-desktop-breakpoint, $tablet-breakpoint) calculate-clamp(24px, 40px, $xl-desktop-breakpoint, $tablet-breakpoint) var(--paddind-left-history-item-content);
    position: relative;

    &:before {
      position: absolute;
      content: "";
      height: 100%;
      width: 1px;
      top: 0;
      bottom: 0;
      background-color: var(--gray-color-500);
      left: calc(var(--paddind-left-history-item-content) / 2);
    }

    @media (min-width: $xl-desktop-breakpoint) {
      --paddind-left-history-item-content: #{vw(40)};
      padding: #{vw(40)} #{vw(24)} #{vw(40)} var(--paddind-left-history-item-content);
    }
  }

  @media (min-width: $xl-desktop-breakpoint) {
    gap: #{vw(40)};
  }
}
