.info {
  --gap-item: 24px;
  --padding-block-item: #{calculate-clamp(
      24px,
      40px,
      $xl-desktop-breakpoint,
      $tablet-breakpoint
    )};
  --padding-inline-item: 24px;

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__item {
    min-height: calculate-clamp(
      400px,
      600px,
      $xl-desktop-breakpoint,
      $tablet-breakpoint
    );
    display: flex;
    flex-direction: column;
    padding-block: var(--padding-block-item);

    @media (min-width: $lg-breakpoint) {
      &:nth-child(odd) {
        padding-inline-end: var(--padding-inline-item);
        border-right: 1px solid var(--gray-color-500);
      }

      &:nth-child(even) {
        padding-inline-start: var(--padding-inline-item);
        align-items: flex-end;
        text-align: right;
      }
    }

    @media (min-width: $xl-desktop-breakpoint) {
      min-height: #{vw(600)};
    }
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--gap-item);
    flex: 1;
    max-width: 80%;
  }

  @media (min-width: $xl-desktop-breakpoint) {
    --gap-item: #{vw(24)};
    --padding-block-item: #{vw(40)};
    --padding-inline-item: #{vw(24)};
  }

  @media (max-width: $lg-breakpoint) {
    &__items {
      display: flex;
      flex-direction: column;
    }

    &__item-content {
      max-width: 100%;
    }

    &__item {
      padding-inline: var(--container-inline-padding);

      &:not(:last-child) {
        border-bottom: 1px solid var(--gray-color-500);
      }
    }

    .container {
      padding: 0;
    }
  }
}
