.info {
  --gap-item: 24px;
  --padding-block-item: 40px;
  --padding-inline-item: 24px;

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__item {
    aspect-ratio: 163 / 100;
    display: flex;
    flex-direction: column;
    padding-block: var(--padding-block-item);

    &:nth-child(odd) {
      padding-inline-end: var(--padding-inline-item);
      border-right: 1px solid var(--gray-color-500);
    }

    &:nth-child(even) {
      padding-inline-start: var(--padding-inline-item);
      align-items: flex-end;
      text-align: right;
    }
  }

  &__item-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--gap-item);
    flex: 1;
    max-width: 80%;
  }

  @media (min-width: $xl-desktop-breakpoint) {
    --gap-item: #{vw(24)};
    --padding-block-item: #{vw(40)};
    --padding-inline-item: #{vw(24)};
  }
}
