.input-box {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: var(--font-second);

  &--border {
    border-bottom: 1px solid var(--gray-color-500);
    padding-bottom: 16px;

    @media (min-width: $xl-desktop-breakpoint) {
      padding-bottom: #{vw(16)};
    }
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    color: var(--gray-color-400);
    background-color: transparent;
    cursor: pointer;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(16)};
    }
  }

  &__info {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 4px;

    input,
    textarea {
      background-color: transparent;
      color: var(--gray-color-400);
      font-size: var(--font-size-sm);
      color: var(--gray-color-200);
      cursor: pointer;
      width: 100%;
      font-family: var(--font-main);

      &::placeholder {
        color: var(--gray-color-200);
        font-size: var(--font-size-sm);
        opacity: 0;
        transition: all .3s;
      }
    }

    textarea {
      min-height: 80px;
      resize: none;

      @media (min-width: $xl-desktop-breakpoint) {
        min-height: #{vw(80)};
      }
    }
  }

  &__errors {
    font-size: var(--font-size-sm);
    color: var(--red-100-color);
    padding: 10px 0 0 ;
    display: none;

    @media (min-width: $xl-desktop-breakpoint) {
      padding: #{vw(10)} 0 0 0;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  &:hover {
    .input-box {
      &__info {
        input,
        textarea {
          &::placeholder {
            opacity: 1;
          }
        }
      }
    }
  }

  &.error {
    .input-box {
      &__errors {
        display: flex;
      }
    }
  }
}
