.link {
  color: var(--gray-color-200);
  transition: all 0.3s;

  &:hover,
  &.active {
    color: var(--primary-color-100);
  }
}

.link-decor {
  --border-width: 1px;
  --paddint-top-item: 40px;

  padding: var(--paddint-top-item) 24px 40px;
  background-color: transparent;
  display: flex;  
  flex-direction: column;
  color: var( --gray-color-300);
  border-bottom: var(--border-width) solid var(--gray-color-115);
  transition: all .3s;
  cursor: pointer;
  box-sizing: content-box;

  &--big {
    --paddint-top-item : 80px;
  }

  &--border-no-cvet {
    border-color: transparent;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    transition: all .3s;
  }

  &__line {
    width: 100%;
  }

  &:hover {
    --border-width: 24px;

    border-color: var(--primary-color-100);  
    color: var(--primary-color-100);
    padding-top: calc(var(--paddint-top-item) - var(--border-width));
  }
}

.links-decor {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4px;
}

