.list-slash {
  --gap-items: 8px;
  --fz-line: var(--font-size-sm);
  --width-line: 1em; 

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: calc(var(--gap-items));
  color: var(--gray-color-200);
  font-size: var(--fz-line);
  font-family: var(--font-second);

  & > *:not(:last-child) {
    position: relative;
    display: flex;
    padding-right: calc(var(--gap-items) + var(--width-line));

    &:before {
      position: absolute;
      content: "/";
      color: var(--gray-color-400);
      font-size: 1em;
      right: 0;
      width: 1em;
      text-align: center;
    }
  }
}
