.logo {
  &__img {
    max-width: calculate-clamp(140px, 200px, $xl-desktop-breakpoint, $tablet-breakpoint);;
    height: calculate-clamp(30px, 40px, $xl-desktop-breakpoint, $tablet-breakpoint);

    img,
    svg {
      width: 100%;
      height: 100%;
    }
  }

  @media (min-width: $xl-desktop-breakpoint) {
    &__img {
      max-width: #{vw(240)};
      height: #{vw(40)};
    }
  }
}
