.logo {
  &__img {
    max-width: 200px;
    height: 40px;

    img,
    svg {
      width: 100%;
      height: 100%;
    }
  }

  @media (min-width: $xl-desktop-breakpoint) {
    &__img {
      max-width: #{vw(240)};
      height: #{vw(40)};
    }
  }
}
