.map {
  .topBox__header {
    max-width: 20%;
    text-align: center;
    margin: 0 auto;
  }

  &__box {
    width: 100%;
    height: 60vh;
    background-color: var(--gray-color-500);

    .map {
        width: 100%;
        height: 100%;
    }
  }

  @media (max-width: $lg-breakpoint) {
    .topBox__header {
      max-width: 100%;
      justify-content: center;
    }
  }
}
