.menu {
  &__burger {
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: transparent;
    color: var(--gray-color-300);

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(24)};
    }
  }

  &__burger-box {
    width: 96px;
    height: 12px;
    flex-shrink: 0;
    position: relative;
    transition: all 0.3s;

    &:after,
    &:before {
      position: absolute;
      content: "";
      width: 100%;
      height: 1px;
      background-image: linear-gradient(90deg, #c0c4cc 0%, #5e6166 100%);
      left: 0;
    }

    &:after {
      top: 2px;
      transition: rotate 0.5s, top 0.5s 0.5s;
    }

    &:before {
      bottom: 2px;
      transition: rotate 0.5s, bottom 0.5s 0.5s;
    }

    @media (min-width: $xl-desktop-breakpoint) {
      width: #{vw(96)};
      height: #{vw(12)};
    }
  }

  &__content {
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    top: calc(var(--header-height, var(--calback-header-height)));
    background-color: var(--dark-color-400);
    color: var(--gray-color-400);
    max-height: calc(
      100dvh - var(--header-height, var(--calback-header-height))
    );
    overflow-x: hidden;
    overflow-y: auto;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }

  &__content-inner {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 96px var(--container-inline-padding) 0;
    display: flex;
    flex-direction: column;
    gap: 80px;

    & > *:not(:first-child) {
      border-top: 1px solid var(--gray-color-500);
    }

    @media (min-width: $xl-desktop-breakpoint) {
      padding: #{vw(96)} var(--container-inline-padding) 0;
      gap: #{vw(80)};
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &.open {
    .menu {
      &__content {
        opacity: 1;
        visibility: visible;
      }

      &__burger-text {
        display: none;
      }

      &__burger-box {
        width: 24px;
        height: 24px;

        &:after,
        &:before {
          background-image: none;
          background-color: var(--gray-color-300);
        }

        &:after {
          top: 50%;
          rotate: 45deg;
          transition: top 0.5s, rotate 0.5s 0.5s;
        }

        &:before {
          bottom: 50%;
          rotate: -45deg;
          transition: bottom 0.5s, rotate 0.5s 0.5s;
        }

        @media (min-width: $xl-desktop-breakpoint) {
          width: #{vw(24)};
          height: #{vw(24)};
        }
      }
    }
  }
}

.menu-top {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @media (min-width: $xl-desktop-breakpoint) {
    gap: #{vw(24)};
  }

  &__lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(24)};
    }
  }

  &__list-box {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(40)};
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(24)};
    }
  }
}
