.privacy {
  --privacy-list-gap: #{calculate-clamp(
    40px,
    80px,
    $xl-desktop-breakpoint,
    $tablet-breakpoint
  )};
  --privacy-list-item-gap: #{calculate-clamp(
    16px,
    24px,
    $xl-desktop-breakpoint,
    $tablet-breakpoint
  )};

  &__list {
    display: flex;
    flex-direction: column;
    gap: var(--privacy-list-gap);
  }

  &__list-item {
    display: flex;
    flex-direction: column;
    gap: var(--privacy-list-item-gap);
  }

  @media (min-width: $xl-desktop-breakpoint) {
    --privacy-list-gap: #{vw(80)};
    --privacy-list-item-gap: #{vw(24)};
  }
}
