@font-face {
  font-family: "TikTok";
  src: url("../fonts/TikTokSans-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "TikTok";
  src: url("../fonts/TikTokSans-Bold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Manrope";
  src: url("../fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
}
