html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--dark-color-200);
  color: var(--gray-color-200);
  font-family: var(--font-main);
  font-weight: var(--weight-font-main);
  font-size: var(--font-size-sm);
  line-height: var(--line-height-relaxed);
  overflow-x: hidden;

  &.open-modal,
  &.open-menu {
    overflow: hidden;
  }

  &:before {
    content: "";
    position: fixed;
    inset: 0;
    top: 0;
    z-index: 100;
    background-color: var(--dark-color-275);
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    transform: translateX(0%);
  }

  &.open-decor {
    &:before {
      opacity: 1;
      visibility: visible;
    }
  }
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
  padding-top: var(--page-padding-top);
  display: flex;
  flex-direction: column;

  section {
    &:not(:last-child) {
      margin-bottom: var(--gap-blocks);
    }

    &.gap-none {
      margin-bottom: 0;
    }

    &.section-padding-bottom {
      padding-bottom: var(--gap-blocks);
    }
  }

  &--detail {
    display: flex;
    flex-direction: column;
    gap: 96px;

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(96)};
    }
  }
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding-inline: var(--container-inline-padding);
  width: 100%;

  &--big {
    padding: 0;
    max-width: var(--container-second-width);
  }

  &--paddig-start-only {
    padding-inline-start: var(--container-inline-padding);
  }

  &__inner {
    max-width: 100%;
    padding-inline: var(--container-inline-padding);
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: var(--icon-base);
  height: var(--icon-base);

  svg,
  img {
    width: 100%;
    height: 100%;
  }

  &--xs {
    width: var(--icon-xs);
    height: var(--icon-xs);
  }

  &--sm {
    width: var(--icon-sm);
    height: var(--icon-sm);
  }

  &--md {
    width: var(--icon-md);
    height: var(--icon-md);
  }

  &--lg {
    width: var(--icon-lg);
    height: var(--icon-lg);
  }
}

.textbox {
  display: flex;
  flex-direction: column;
  gap: 14px;

  &--noGap {
    gap: 0;
  }

  @media (min-width: $xl-desktop-breakpoint) {
    gap: #{vw(14)};
  }
}

.topBox {
  display: flex;
  flex-direction: column;
  gap: 80px;

  &--small {
    gap: 40px;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }

  // &__line {
  //   width: 1px;
  //   height: 120px;
  //   background-color: var(--gray-color-500);
  //   margin: 0 auto;
  // }

  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 40px;
    max-width: 48%;
    margin: 0 auto;

    .textbox {
      max-width: 77%;
    }

    &:before,
    &:after {
      width: 1px;
      height: 140px;
      background-color: var(--gray-color-500);
    }

    &.with-line {
      position: relative;

      &:after {
        content: "";
      }
    }

    &.line-top {
      &:after {
        display: none;
      }

      &:before {
        content: "";
      }
    }

    @media (min-width: $xl-desktop-breakpoint) {
      gap: #{vw(40)};

      &:before,
      &:after {
        height: #{vw(140)};
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__decors {
    display: flex;
    flex-direction: column;
  }

  &__decors-title {
    text-indent: 624px;
    // transform: translateY(-15px);

    @media (min-width: $xl-desktop-breakpoint) {
      text-indent: #{vw(624)};
    }
  }

  @media (min-width: $xl-desktop-breakpoint) {
    gap: #{vw(80)};
  }
}

body .wrapper {
  .xl-desktop-none {
    @media (max-width: $xl-desktop-breakpoint) {
      display: none;
    }
  }

  .xl-desktop-show {
    display: none;

    @media (max-width: $xl-desktop-breakpoint) {
      display: flex;
      height: fit-content;
    }
  }

  .desktop-none {
    @media (max-width: $desktop-breakpoint) {
      display: none;
    }
  }

  .desktop-show {
    display: none;

    @media (max-width: $desktop-breakpoint) {
      display: flex;
      height: fit-content;
    }
  }

  .md-desktop-none {
    @media (max-width: $md-desktop-breakpoint) {
      display: none;
    }
  }

  .md-desktop-show {
    display: none;

    @media (max-width: $md-desktop-breakpoint) {
      display: flex;
      height: fit-content;
    }
  }

  .tablet-none {
    @media (max-width: $tablet-breakpoint) {
      display: none;
    }
  }

  .tablet-show {
    display: none;

    @media (max-width: $tablet-breakpoint) {
      display: flex;
      height: fit-content;
    }
  }

  .lg-show {
    display: none;

    @media (max-width: $lg-breakpoint) {
      display: flex;
      height: fit-content;
    }
  }

  .lg-none {
    @media (max-width: $lg-breakpoint) {
      display: none;
    }
  }

  .br-el {
    &--rounded-sm {
      border-radius: var(--radius-sm);
    }

    &--rounded-base {
      border-radius: var(--radius-base);
    }

    &--rounded-md {
      border-radius: var(--radius-md);
    }

    &--rounded-lg {
      border-radius: var(--radius-lg);
    }

    &--rounded-xl {
      border-radius: var(--radius-xl);
    }

    &--rounded-2xl {
      border-radius: var(--radius-2xl);
    }

    &--rounded-3xl {
      border-radius: var(--radius-3xl);
    }
  }
}

.border-decor {
  --border-decor-width: 1px;
  --border-decor-color: var(--gray-color-115);

  &--top {
    border-top: var(--border-decor-width) solid var(--border-decor-color);
  }

  &--gray-500 {
    --border-decor-color: var(--gray-color-500);
  }

  &--bottom {
    border-bottom: var(--border-decor-width) solid var(--border-decor-color);
  }
}

.goods {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));

  &--gap {
    gap: 4px;
  }

  &--flex {
    display: flex;
    flex-direction: column;
  }

  &--two {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $xl-desktop-breakpoint) {
    grid-template-columns: repeat(auto-fit, minmax(#{vw(500)}, 1fr));

    &--two {
      grid-template-columns: repeat(2, 1fr);
    }

    &--flex {
      display: flex;
      flex-direction: column;
    }

    &--gap {
      gap: #{vw(4)};
    }
  }
}

.overlay {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    z-index: 2;
    inset: 0;
    background-color: #15171b80;
  }

  &--gradient {
    &:before {
      background-color: transparent;
      background-image: linear-gradient(
        180deg,
        rgba(21, 23, 27, 0.2) 0%,
        rgba(21, 23, 27, 0.5) 100%
      );
    }

    &-bottom {
      &:before {
        background-image: linear-gradient(
          180deg,
          rgba(18, 20, 26, 0) 0%,
          rgba(18, 20, 26, 0.4) 50%,
          rgba(18, 20, 26, 0.6) 100%
        );
      }
    }
  }
}

.decor-el {
  display: flex;
  align-items: flex-start;
  gap: 8px;

  &--center {
    justify-content: center;
  }

  @media (min-width: $xl-desktop-breakpoint) {
    gap: #{vw(8)};
  }
}

.content-line {
  position: relative;

  &--absolute-line {
    &::before {
      position: absolute;
      transform: translateY(-100%);
      top: -40px;

      @media (min-width: $xl-desktop-breakpoint) {
        top: calc(#{vw(40)} * -1);
      }
    }
  }

  &:before {
    content: "";
    width: 1px;
    height: 140px;
    background-color: var(--gray-color-500);

    @media (min-width: $xl-desktop-breakpoint) {
      height: #{vw(140)};
    }
  }
}

.top-box {
  min-height: calc(100dvh - var(--page-padding-top));
  display: flex;

  .container {
    min-height: 100%;
  }

  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.decor-section {
  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }
}

.icon-decor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 96px;
  background-color: var(--dark-color-600);
  flex-shrink: 0;
  color: var(--gray-color-200);

  @media (min-width: $xl-desktop-breakpoint) {
    width: #{vw(96)};
    height: #{vw(96)};
  }
}

.fixed-block {
  position: fixed;
  z-index: 100;
  left: 24px;
  bottom: 24px;
  right: 24px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.custom-scrolbar {
  @include custom-scrolbar;
}

.info-icon {
  --width-info-icon: 20px;
  --width-icon-info-icon: 2px;
  --height-icon-info-icon: 10px;

  width: var(--width-info-icon);
  height: var(--width-info-icon);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--gray-color-400);
  border-radius: 50%;
  color: var(--gray-color-300);
  
  img,
  svg {
    width: var(--width-icon-info-icon);
    height: var(--height-icon-info-icon);
  }

  @media (min-width: $xl-desktop-breakpoint) {
    --width-info-icon: #{vw(20)};
    --width-icon-info-icon: #{vw(2)};
    --height-icon-info-icon: #{vw(10)};
  }
}
