@use "sass:math";

@function calculate-clamp(
  $min,
  $max,
  $width-at-max: 1500px,
  $min-width: 415px
) {
  $slope: math.div($max - $min, $width-at-max - $min-width);
  $intercept: $min - $slope * $min-width;
  @return clamp(#{$min}, calc(#{$intercept} + #{$slope * 100}vw), #{$max});
}
// calculate-clamp(200px, 300px, 1500px, 767px)

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

@function vw($px) {
  $result: math.div($px, 1920) * 100 + vw;

  @return $result;
}

$xl-desktop-breakpoint: 1920px;
$desktop-breakpoint: 1439px;
$md-desktop-breakpoint: 1279px;
$lg-breakpoint: 1023px;
$tablet-breakpoint: 767px;
$mobile-breakpoint: 479px;

@mixin hover-link-decor {
  --border-width: 24px;

  border-color: var(--primary-color-100);
  color: var(--primary-color-100);
  padding-top: calc((var(--paddint-top-item) - var(--border-width)));

  @media (min-width: $xl-desktop-breakpoint) {
    --border-width: #{vw(24)};
  }
}

@mixin custom-scrolbar {
  // scrollbar-width: thin;
  // scrollbar-color: var(--primary-color-100 var(--gray-color-530);

  &::-webkit-scrollbar {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    background-color: var(--gray-color-530);
  }

  &::-webkit-scrollbar-thumb {
    
    background-color: var(--primary-color-100);
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--dark-color-600);
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}
